<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houses</title>
    <script>
        async function fetchHouses() {
            const response = await fetch('/api/houses');
            if (response.ok) {
                const houses = await response.json();
                displayHouses(houses);
            } else {
                alert('Error fetching houses data')
            }
        }

        function displayHouses(houses) {
            const tableBody = document.getElementById('house-table-body');
            tableBody.innerHTML = '';

            houses.forEach(house => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${house.id}</td>
                <td>${house.address}</td>
                <td>${house.date}</td>
                <td>${house.area}</td>
                <td>${house.tariff}</td>
            `;
            tableBody.appendChild(row);
            });
        }
    </script>
</head>
<body>
    <h1>Houses</h1>
    <button oneclick = 'fetchHouses()'>Load Houses</button>
    <table border = '1'>
        <thead>
            <tr>
                <th>ID</th>
                <th>address</th>
                <th>date</th>
                <th>area</th>
                <th>tariff</th>
            </tr>
        </thead>
        <tbody id = 'houses-table-body'></tbody>
        </tbody>
    </table>
</body>
</html>